# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv/
ENV/
env.bak/
venv.bak/

# Virtual environment
venv/
.venv/
env/
ENV/

# OS
.DS_Store
*/.DS_Store
src/backend/.DS_Store
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
desktop.ini

# Code
.idea/
.vscode/
*.sublime-*
*.code-workspace

# env
.env
.env.local
.env.*.local

# Logs & databases
*.log
*.sqlite3

# Build / dist
build/
dist/
*.egg-info/

#virtual envirment folder
venv/